.header{
    background-color: #428bd0;
    color:#FFFFFF;
    display: flex;
    justify-content: center;
    position: relative;
}
.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.headerContainer.list{
    margin:  20px 0px 0px 0px;
}
.headerList{
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}
.headerlistitem{
    display: flex;
    align-items: center;
    gap: 3px;
}
.headerlistitem.active{
    border: 1px solid white;
    padding: 8px;
    border-radius: 50px;
}

.headerBtn{
    padding: 10px;
    background-color: #f7de98;
    color: rgb(22, 23, 23);

    font-weight: 500;
    border: none ;
    border-radius: 10px;
    cursor:pointer
    
}
.headerSearch{
    height: 30px;
    background-color: #FFFFFF;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
}
.headerIcon{
    color: #c4c4c4;
}

.headerSearchItem{
    display: flex;
    align-items: center;
    gap: 10px;
}
.headerSearchInput{
    border: none;
    outline: none;

}
.headerSearchText{
    color: #c4c4c4;
    cursor: pointer;
}
.date{
    color: #c4c4c4;
    position: absolute;
    top: 50px;
    z-index: 2;
}

.option{
    position: absolute;
    top: 50px;
    background-color: #FFFFFF;
    color: #c4c4c4;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px  rgba(0,0,0,0.4);
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.4);
    z-index: 2;
}

.optionItem{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.optionCounter{
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000000;
}
.optionCounterButton{
    width: 30px;
    height: 30px;
    border: 1px solid #febb02 ;
    color: #febb02;
    background-color: #ffffff;
    cursor: pointer;
}

.optionCounterButton:disabled{
    cursor: not-allowed;
}