.navbar{

    background-color: #428bd0;
    display: flex;
    justify-content: center;
    
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: x-large;
    
}
.logo{
    font-weight: 500;
}

.navButton{
    background-color: #428bd0;
    border: 2px solid white;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin: 10px;

}